h1 {
    display: block;
    font-size: medium;
    font-weight: bold;
    color: deepskyblue;
}

body {
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #000000;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    background-color: aliceblue;
    color: #000;
    border-radius: 8px;
    cursor: pointer;
}
